/* CSS Document */
#panel_vote_profile {
	text-align: center;
	padding-top: 0;
	height:100%;
	padding-top:40px;
}
#panel_vote_profile .vote_profile_header {
	width: 100%;
	height: 165px;
	position: absolute;
	top: 0;
	z-index: -1;
	background-color: #2391dd;
}
#panel_vote_profile p {
	font-size:28px;
}

#panel_vote_profile .members_profile_image {
	height: 250px;
	width: 250px;
	border-radius: 50%;
	border: 4px solid white;
	background-color: white;
}

