/* CSS Document */
/* default css */
html, body {
	position:fixed;
	height:100%; 
	width:100%; 
	overflow:hidden;
	padding:0; 
	margin:0;
}
a { text-decoration:none !important; }
hr { border-top-width:2px; }
.iframe-wrapper {
	height:calc(100% - 20px);
	width:100%;
}
iframe { height: calc(100% - 88px); width: calc(100% - 2px); }
/* default css */

#main {
	position:absolute;
	top:65px;
	width:100%;
	height:100%;
	overflow:hidden;
	
}
#main .uk-subnav li {
	padding-left: 10px;
}
#main .uk-subnav li a {
	padding: 10px 15px;
}
.page_nav {
	position:absolute;
	top:0;
	background-color:#1e87f0; 
	width:100%;
}
.page_nav .uk-button {
	line-height:30px;
	padding:0 20px;
	height:65px;
}
.page_nav .uk-navbar-item {
	height:65px;
}
.page_nav .uk-navbar-item .uk-button.uk-open .menu_open {
	display: none;	
}
.page_nav .uk-navbar-item .uk-button .menu_close {
	display: none;	
}
.page_nav .uk-navbar-item .uk-button.uk-open .menu_close {
	display: block;
	margin: 5px 0px;
}


.clock {
	position: absolute;
	top: 12px;
	right: 10px;
	font-family:Arial, Helvetica, sans-serif;
	color:#f0506e;
	background-color:#fff;
	letter-spacing:1px;
	font-weight: normal;
}
.clock .uk-text-lead {
	font-size:1.3rem;
}

.avatar.chat {
	width:52px;
	height:52px;
}
.panel_chat .uk-card-default {
	box-shadow:none;
}
.panel_chat .uk-card {
	cursor:pointer;
}
.panel_chat .uk-card:hover {
	background-color:#f7f7f7;
}
.panel_chat_nav {
	background-color:#392ef2; 
	height:70px;
}
.panel_chat img, .chat_window img {
	border:2px solid #32d296;
}

.panel_chat .chat_title {
	font-size:16px;
}
.panel_chat .chat_desc {
	font-size:12px;
	color:#888;
}
.panel_chat .panel_chat_members .offline img {
	border:2px solid #ccc;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.panel_chat .panel_chat_members .offline .chat_title {
	color:#ccc;
}
.chat_window {
	display:none;
	position:absolute; 
	z-index:2; 
	left:20px; 
	top:20px;
	width:400px;
}
.chat_window .uk-card-header {
	background-color:#ff9d0e;
}
.chat_window .uk-card-header .uk-card-title {
	color:#fff;
	padding:5px 10px;
}
.chat_window iframe {
	height:300px;
}
.chat_window .chat_iframe_wrapper {
	overflow: hidden; 
	height:calc(100% - 20px);
	width:100%;
}
.chat_window .chat_message {
	resize: none;
	font-size:14px;
	padding:5px;
}

.chat_window .uk-card-footer button {
	width:80px;
}

.panel_profile {
	width:100%;
}
.panel_profile img {
	border:2px solid #fff;
}
.panel_profile .uk-card-title {
	color:#fff;
}
.uk-subnav {
	margin-left:0;
	margin-right:0;
}
.uk-switcher {
	background-color:#c5c5c5;
	overflow-x:auto;
}

.uk-offcanvas-bar a:hover, .uk-nav a:hover {
	color:#000;
	background-color:#f7f7f7;
}
.uk-offcanvas-bar {
	background-color:#fff;
	color:#000;
	width: 400px;
}
.uk-offcanvas-bar a, .uk-nav a, .uk-dropdown-nav li a {
	font-size:18px;
	color:#000 !important;
	padding:10px !important;
	
}

.overlay {
	height: 100%;
	width: 100%;
	position: fixed; 
	z-index: 1; 
	left: 0;
	top: 0;
	background-color: rgba(255,255,255, 0.4);
	overflow-x: hidden;
}

.uk-modal-close-outside {
	color:#000; 
	top:15px; 
	right:15px;
}

/* custom */
.uk-button-default {
	border:1px solid #e5e5e5;
}
.uk-button-default {
	border:1px solid #e5e5e5;
}
.tm-button-default, .tm-button-primary {
	border-radius:500px;
}


/* voting */
.uk-button.vote {
	-webkit-appearance:default-button;
	border: 5px solid #cccccc;
	background-color:#fff;
	border-radius: 500px;
	width: 165px;
	margin: 5px;
	padding: 2px 20px;
	font-size: 28px;
	font-weight: 600;
}

.uk-button.vote.selected {
	background-color:#00573d;
	border-color: #00573d;
	color: #fff;	
}

.chat_window {
    -webkit-user-drag: auto;
}
.paginate_button span, .paginate_button a {
	padding: 5px 10px;
}
.paginate_button span:hover, .paginate_button a:hover {
    background-color: #f8f8f8;
    color: #666;
}
.paginate_button.uk-active span {
	background-color: #1e87f0;
    color: #fff;
}
.paginate_button.uk-disabled span {
	color:#ccc;
}
.dataTables_paginate {
	float:right;
}
.ongoing.uk-active a {
	background-color:#f0506e;
	color:#fff;
}


.vote_members_title {
	background-color:#1e87f0;
	padding:10px 15px;
	text-align:left;
	color:#fff;
	font-size:30px;
}
.vote_members_title span {
	padding:20px;
}
.view_yes {
	background-color:#32d296;
	width:80px;
	padding:5px;
	color:#fff;
	font-size:20px;
}

.view_no {
	background-color:#f0506e;
	width:80px;
	padding:5px;
	color:#fff;
	font-size:20px;
}

.view_abstain {
	background-color:#ccc;
	width:80px;
	padding:5px;
	color:#fff;
	font-size:20px;
}
#panel_archive {
	height: 100%;
}
#panel_archive_title {
	background-color: #f0f0f0;
	height: 30px;
	width: 100%;
	padding: 10px;
}
#panel_archive_title span {
	border:0;
}
#panel_archive_title span:hover { 
	background-color: #1e87f0;
	color: #fff;
}
#panel_archive_title a {
	 margin-top: -4px; 
	 margin-right: 20px;
}
#panel_archive_content {
	border-top:2px solid #999;
    display: flex;
	flex-flow: row wrap;
	align-content: flex-start;
	overflow: auto;
	height: calc(100% - 178px);
	webkit-overflow-scrolling: touch;
}
#panel_archive_content button {
	background-color: transparent;
	margin:10px 15px; 
	padding:0; 
	width: 170px; 
}
#panel_archive_content button .uk-text-capitalize {
	color: #000;
	line-height: 20px;
}
#panel_archive_iframe_title {
	background-color: #f0f0f0;
	height: 30px;
	width: 100%;
	padding: 10px;
}
#panel_archive_iframe_title span {
	padding:20px;
}
#panel_archive_iframe_title a {
	margin-top: -4px;
	margin-right: 20px;
}
#panel_archive_iframe {
	display: none;
	height: calc(100% - 90px);
	width: 100%;
}
@media only screen and (max-width: 800px) {
	#panel_archive_content button {
		width: 160px; 
	}
}

