/* CSS Document */
body {
	padding: 0;
	margin: 0;
	font-family: Verdana,Arial,sans-serif;
    font-size: 12px;
}
iframe {
	width:100%;
	height:100%;
	border:0;
}

#system { 
	position: absolute; 
	width: 100%; 
	height: 100%; 
}
#system_name { 
	font-size:12px;
	margin-left:10px;
}
#login_fullname {
	font-size:12px;
	vertical-align: middle;
}
.system.toolbar.button {
	padding: 4px 10px;
}
.system.toolbar.button.icon {
	font-size: 32px;
	color: #555;
	border: 1px solid transparent;
    background-color: transparent;
	border-radius: 4px;
}
.system.toolbar.button.icon:hover {
	border-color: #D1D1D1;
}

.mceEditor > table {
    height:100% !important;
}

.profile_image {
	height:40px;
	width:40px;
	border-radius: 50%;	
	border:2px solid #32d296;
	vertical-align:middle;
	margin-right:5px;
}

.w2ui-node-caption{
  font-size: 11px !important;
}

/*.w2ui-panel-toolbar {
	background-color:#fff !important;
}*/

