/* ALERTS */
/* inspired by Twitter Bootstrap */

.alert {
	z-index: 999;
	padding: 15px;
	margin-bottom: 20px;
	/*border: 1px solid #eed3d7;*/
	border-radius: 4px;
	position: absolute;
	bottom: 0px;
	right: 21px;
	/* Each alert has its own width */
	float: right;
	clear: right;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	min-width: 100px;
}

.alert-red {
	color: white;
	background-color: #DA4453;
}
.alert-green {
	color: white;
	background-color: #37BC9B;
}
.alert-green::before { 
    font-family: FontAwesome;
    content: "\f05d";
	font-size: 25px;
	margin-right:10px;
	vertical-align: middle;
}
.alert-blue {
	color: white;
	background-color: #4A89DC;
}
.alert-yellow {
	color: white;
	background-color: #F6BB42;
}
.alert-orange {
	color:white;
	background-color: #E9573F;
}